
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@500;700&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-sm: 600px;
  --breakpoint-md: 800px;
  --breakpoint-large: 1000px;
  --breakpoint-desktop: 1200px;

  /* Primary colors */
  --color-primaryColor-50: oklch(0.9446 0.0284 327.43);
  --color-primaryColor-100:oklch(0.824 0.1697 327.43) ;
  --color-primaryColor-200: oklch(0.7501 0.1697 327.43);
  --color-primaryColor-300: oklch(0.6387 0.1697 327.43);
  --color-primaryColor-400:oklch(0.551 0.1697 327.43);
  --color-primaryColor-500:oklch(0.4704 0.1697 327.43);

  --color-primaryColor-800: oklch(0.3929 0.1574 327.43);

}