@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --breakpoint-sm: 600px;
  --breakpoint-md: 800px;
  --breakpoint-large: 1000px;
  --breakpoint-desktop: 1200px;

  /* Primary colors */
  --color-primaryColor-50: oklch(0.8997 0.0486 260.89);
  --color-primaryColor-100: oklch(0.7938 0.1044 259.71);
  --color-primaryColor-200: oklch(0.7458 0.1311 259.56);
  --color-primaryColor-300: oklch(0.7 0.1575 259.74);
  --color-primaryColor-400: oklch(0.6592 0.1732 259.62);
  --color-primaryColor-500: oklch(0.6231 0.188 259.81);
  --color-primaryColor-600: oklch(0.5734 0.1884 260.01); /* ✅ fixed */
  --color-primaryColor-700: oklch(0.5367 0.1894 260.33);
  --color-primaryColor-800: oklch(0.5013 0.1878 260.38);
  --color-primaryColor-900: oklch(0.4661 0.1858 260.59);
}
